## Python, SQL and defaultdict

In this notebook we're going to put a bunch of pieces together. 

* SQL: We'll build an "in memory" DB and write some complicated queries against it.
* `defaultdict`: building on the recorded lecture, we'll take the results of those complicated queries and store them in a sensible way in a `defaultdict`. We'll also practice writing these out to a file. 

This code contains a number of the techniques you need to do the _second_ part of the Wedge assignment. 

We start by reading in the file as before. Note the import of our `wedge_helper` library, which is stored in a file with that same name and the extension `py`. As before, open that file up (maybe in Spyder?) so that you can see what's inside.

In [1]:
import sqlite3
from pprint import pprint
from collections import defaultdict
from wedge_helper import *

input_file = "OwnerTransactions_30.txt"

# Let's just open the file and read the first few lines to the screen.
with open(input_file,'r',encoding="Latin-1") as ifile :
    for idx, line in enumerate(ifile.readlines()) :
        print(line.strip().split("\t"))
        if idx > 3 :
            break

['datetime', 'register_no', 'emp_no', 'trans_no', 'upc', 'description', 'trans_type', 'trans_subtype', 'trans_status', 'department', 'quantity', 'Scale', 'cost', 'unitPrice', 'total', 'regPrice', 'altPrice', 'tax', 'taxexempt', 'foodstamp', 'wicable', 'discount', 'memDiscount', 'discountable', 'discounttype', 'voided', 'percentDiscount', 'ItemQtty', 'volDiscType', 'volume', 'VolSpecial', 'mixMatch', 'matched', 'memType', 'staff', 'numflag', 'itemstatus', 'tenderstatus', 'charflag', 'varflag', 'batchHeaderID', 'local', 'organic', 'display', 'receipt', 'card_no', 'store', 'branch', 'match_id', 'trans_id']
['2010-01-01 10:19:32', '6', '68', '2', '2.79DP9', 'GEN MERCH', 'D', ' ', ' ', '9', '2', '0', '0.0000', '2.7900', '5.5800', '2.7900', '0.0000', '1', '0', '0', '0', '0.0000', '0.0000', '3', '0', '0', '0.00000000', '2', '0', '0', '0.0000', '0', '0', '', '0', '0', '0', '0', '0', '0', 'NULL', '0', 'NULL', '', '0', '40825', '1', '0', '0', '1']
['2010-01-01 10:19:46', '6', '68', '2', '0000000014240', 'CEREAL Granola Vanilla Almond', 'I', ' ', ' ', '3', '0.86', '1', '2.1100', '2.7900', '2.4000', '3.6900', '0.0000', '0', '0', '1', '0', '0.7740', '0.0000', '1', '1', '0', '0.00000000', '0.86', '0', '0', '0.0000', '0', '0', '', '0', '2', '0', '0', '0', '0', 'NULL', '0', 'NULL', '', '0', '40825', '1', '0', '0', '3']
['2010-01-01 10:19:50', '6', '68', '2', '0004515701220', '2% Milk rBGH-free 64oz PoM', 'I', ' ', ' ', '4', '1', '0', '1.9500', '2.3900', '2.3900', '2.3900', '0.0000', '0', '0', '1', '0', '0.0000', '0.0000', '1', '0', '0', '0.00000000', '1', '0', '0', '0.0000', '0', '0', '', '0', '1', '0', '0', '0', '0', 'NULL', '0', 'NULL', '', '0', '40825', '1', '0', '0', '5']
['2010-01-01 10:19:58', '6', '68', '2', '0000000000193', 'ORANGES Mandarin Page Organic', 'I', '', 'M', '2', '1', '0', '0.0000', '-0.4000', '-0.4000', '-0.4000', '0.0000', '0', '0', '1', '0', '0.0000', '-0.4000', '3', '20', '8', '0.00000000', '0', '0', '0', '0.0000', '0', '0', '', '0', '0', '0', '0', '0', '0', 'NULL', '0', 'NULL', '', '0', '40825', '1', '0', '0', '19']

Let's do our standard open the DB in memory and create a cursor.

In [2]:
db = sqlite3.connect(':memory:') # SQLite makes it easy to build in-memory DBs
cur = db.cursor()

init_db(cur) # take a look at the .py file to see what happened here.

In [3]:
with open(input_file,'r',encoding="Latin-1") as ifile :
    populate_db(db,ifile,delimiter="\t",limit=None)

Because we're using functions from the helper file, what we just did looks deceptively simple. There's a full `transactions` table now stored in a DB in memory. And `cur` holds the connection to that DB.

In [7]:
cur.execute('SELECT * FROM transactions LIMIT 3')
cur.fetchall()

[('2010-01-01 10:19:32',
  6,
  68,
  2,
  '2.79DP9',
  'GEN MERCH',
  'D',
  ' ',
  ' ',
  9,
  2.0,
  0,
  0.0,
  2.79,
  5.58,
  2.79,
  0.0,
  1,
  0,
  0,
  0,
  0.0,
  0.0,
  3,
  0,
  0,
  0.0,
  2.0,
  0,
  0,
  0.0,
  0,
  0,
  '',
  0,
  0,
  0,
  0,
  '0',
  0,
  'NULL',
  0,
  'NULL',
  '',
  0,
  40825,
  1,
  0,
  0,
  1),
 ('2010-01-01 10:19:46',
  6,
  68,
  2,
  14240,
  'CEREAL Granola Vanilla Almond',
  'I',
  ' ',
  ' ',
  3,
  0.86,
  1,
  2.11,
  2.79,
  2.4,
  3.69,
  0.0,
  0,
  0,
  1,
  0,
  0.774,
  0.0,
  1,
  1,
  0,
  0.0,
  0.86,
  0,
  0,
  0.0,
  0,
  0,
  '',
  0,
  2,
  0,
  0,
  '0',
  0,
  'NULL',
  0,
  'NULL',
  '',
  0,
  40825,
  1,
  0,
  0,
  3),
 ('2010-01-01 10:19:50',
  6,
  68,
  2,
  4515701220,
  '2% Milk rBGH-free 64oz PoM',
  'I',
  ' ',
  ' ',
  4,
  1.0,
  0,
  1.95,
  2.39,
  2.39,
  2.39,
  0.0,
  0,
  0,
  1,
  0,
  0.0,
  0.0,
  1,
  0,
  0,
  0.0,
  1.0,
  0,
  0,
  0.0,
  0,
  0,
  '',
  0,
  1,
  0,
  0,
  '0',
  0,
  'NULL',
  0,
  'NULL',
  '',
  0,
  40825,
  1,
  0,
  0,
  5)]

Notice how the query results come back. What sort of data type is it? What's the "inner" data type?

Again we'll run a "simple" query and print out the results in a semi-pretty fashion. Check out [this page](https://docs.python.org/3.6/library/string.html#format-specification-mini-language) to learn more about the formatting tricks.

In [8]:
result = cur.execute('''SELECT card_no,
                               date(datetime) as date,
                               sum(total) AS spend
                        FROM transactions
                        WHERE trans_type = "I"
                        GROUP BY card_no, date
                        ''')

for idx,row in enumerate(result) :
    print("On {1}, card_no = {0} spent {2:,.2f}.".format(row[0],row[1],row[2]))
    if idx > 20 :
        break

On 2010-01-03, card_no = 10179 spent 135.62.
On 2010-01-05, card_no = 10179 spent 25.82.
On 2010-01-06, card_no = 10179 spent 20.65.
On 2010-01-07, card_no = 10179 spent 4.79.
On 2010-01-09, card_no = 10179 spent 11.23.
On 2010-01-10, card_no = 10179 spent 155.29.
On 2010-01-13, card_no = 10179 spent 22.33.
On 2010-01-15, card_no = 10179 spent 40.66.
On 2010-01-17, card_no = 10179 spent 56.43.
On 2010-01-20, card_no = 10179 spent 40.68.
On 2010-01-22, card_no = 10179 spent 23.65.
On 2010-01-23, card_no = 10179 spent 5.29.
On 2010-01-24, card_no = 10179 spent 107.06.
On 2010-01-27, card_no = 10179 spent 13.76.
On 2010-02-03, card_no = 10179 spent 59.22.
On 2010-02-04, card_no = 10179 spent 71.62.
On 2010-02-09, card_no = 10179 spent 31.90.
On 2010-02-10, card_no = 10179 spent 38.94.
On 2010-02-14, card_no = 10179 spent 55.90.
On 2010-02-17, card_no = 10179 spent 32.17.
On 2010-02-18, card_no = 10179 spent 10.36.
On 2010-02-19, card_no = 10179 spent 8.03.

Obviously, in the real world you wouldn't want to just print this stuff to the screen, you'd store it. A dictionary, with keys of date and owner number, is a natural way to do that. As in the lecture, we'll do this first in a plain dictionary.

In [9]:
date_owner_spend = dict()

for idx,row in enumerate(result) :
    owner, date, spend = row
    spend = round(spend,2)
    
    if owner not in date_owner_spend :
        date_owner_spend[owner] = dict()
        date_owner_spend[owner][date] = spend
    else : 
        if date not in date_owner_spend[owner] :
            date_owner_spend[owner][date] = spend
        else :
            date_owner_spend[owner][date] += spend

In [10]:
# Let's look at one owner's spend
pprint(date_owner_spend[18736])

{'2011-02-15': 94.42,
 '2011-02-25': 151.03,
 '2011-03-01': 21.0,
 '2011-03-03': 105.71,
 '2011-03-04': 36.9,
 '2011-03-06': 31.81,
 '2011-03-09': 24.0,
 '2011-03-10': 25.0,
 '2011-03-13': 35.0,
 '2011-03-14': 15.0,
 '2011-03-20': 89.0,
 '2011-03-23': 45.31,
 '2011-03-27': 51.41,
 '2011-04-10': 54.45,
 '2011-04-12': 56.41,
 '2011-04-13': 8.0,
 '2011-04-14': 27.0,
 '2011-04-15': 32.53,
 '2011-04-17': 69.0,
 '2011-04-22': 124.01,
 '2011-04-23': 14.38,
 '2011-04-24': 37.71,
 '2011-04-26': 48.41,
 '2011-04-28': 5.59,
 '2011-04-30': 27.0,
 '2011-05-01': 102.66,
 '2011-05-03': 37.0,
 '2011-05-04': 11.72,
 '2011-05-07': 41.0,
 '2011-05-08': 71.12,
 '2011-05-12': 94.67,
 '2011-05-16': 23.0,
 '2011-05-18': 20.43,
 '2011-05-19': 14.96,
 '2011-05-23': 27.0,
 '2011-05-26': 70.82,
 '2011-05-27': 23.0,
 '2011-05-29': 39.41,
 '2011-05-30': 70.98,
 '2011-06-09': 27.73,
 '2011-06-13': 96.29,
 '2011-06-14': 28.0,
 '2011-06-17': 1.99,
 '2011-06-18': 75.55,
 '2011-06-26': 51.39,
 '2011-06-29': 36.8,
 '2011-06-30': 5.0,
 '2011-07-03': 100.87,
 '2011-07-06': 51.53,
 '2011-07-07': 32.21,
 '2011-07-12': 94.0,
 '2011-07-13': 37.97,
 '2011-07-19': 68.0,
 '2011-07-20': 100.03,
 '2011-07-27': 59.0,
 '2011-07-30': 29.49,
 '2011-08-01': 55.13,
 '2011-08-12': 69.49,
 '2011-08-30': 79.96,
 '2011-08-31': 75.54,
 '2011-09-02': 26.17,
 '2011-09-06': 55.98,
 '2011-09-09': 85.99,
 '2011-09-10': 41.01,
 '2011-09-16': 55.49,
 '2011-09-17': 26.65,
 '2011-09-19': 36.81,
 '2011-09-21': 78.69,
 '2011-09-25': 26.0,
 '2011-09-26': 14.89,
 '2011-10-03': 91.11,
 '2011-10-06': 75.76,
 '2011-10-09': 62.0,
 '2011-10-19': 75.18,
 '2011-10-20': 97.22,
 '2011-10-23': 63.38,
 '2011-11-01': 107.0,
 '2011-11-03': 4.99,
 '2011-11-04': 31.09,
 '2011-11-05': 8.27,
 '2011-11-06': 37.0,
 '2011-11-08': 58.38,
 '2011-11-18': 106.79,
 '2011-11-29': 94.07,
 '2011-12-01': 11.0,
 '2011-12-03': 45.0,
 '2011-12-10': 94.22,
 '2011-12-12': 66.07,
 '2011-12-14': 58.0,
 '2011-12-17': 2.0,
 '2011-12-18': 77.07,
 '2011-12-20': 104.36,
 '2011-12-24': 67.69,
 '2011-12-28': 72.0,
 '2011-12-29': 9.87,
 '2011-12-31': 14.79,
 '2012-01-01': 40.43,
 '2012-01-02': 42.69,
 '2012-01-04': 50.23,
 '2012-01-11': 110.0,
 '2012-01-12': 7.0,
 '2012-01-16': 71.0,
 '2012-01-19': 157.91,
 '2012-01-25': 31.69,
 '2012-02-04': 77.0,
 '2012-02-05': 31.48,
 '2012-02-07': 32.69,
 '2012-02-09': 40.0,
 '2012-02-13': 77.54,
 '2012-02-16': 74.97,
 '2012-02-18': 126.81,
 '2012-02-23': 50.69,
 '2012-02-26': 36.69,
 '2012-03-15': 77.78,
 '2012-03-19': 34.26,
 '2012-03-23': 45.92,
 '2012-03-25': 65.76,
 '2012-03-27': 34.84,
 '2012-04-03': 63.75,
 '2012-04-13': 86.71,
 '2012-04-15': 6.0,
 '2012-04-16': 92.0,
 '2012-04-20': 30.0,
 '2012-04-21': 57.66,
 '2012-04-23': 63.69,
 '2012-04-26': 65.69,
 '2012-04-28': 19.71,
 '2012-05-02': 61.71,
 '2012-05-05': 62.76,
 '2012-05-06': 7.38,
 '2012-05-07': 58.5,
 '2012-05-09': 28.69,
 '2012-05-10': 12.07,
 '2012-05-13': 46.15,
 '2012-05-17': 79.11,
 '2012-05-18': 21.0,
 '2012-05-19': 54.4,
 '2012-05-20': 15.33,
 '2012-05-21': 50.91,
 '2012-05-22': 73.8,
 '2012-05-23': 43.0,
 '2012-05-24': 52.38,
 '2012-05-26': 35.0,
 '2012-05-30': 34.79,
 '2012-05-31': 77.38,
 '2012-06-02': 42.15,
 '2012-06-03': 67.4,
 '2012-06-05': 13.89,
 '2012-06-11': 39.0,
 '2012-06-17': 45.38,
 '2012-06-19': 33.49,
 '2012-06-28': 72.06,
 '2012-07-28': 95.14,
 '2012-08-04': 12.75,
 '2012-08-07': 84.69,
 '2012-08-10': 63.86,
 '2012-08-11': 16.61,
 '2012-08-13': 13.11,
 '2012-08-30': 87.38,
 '2012-09-03': 51.64,
 '2012-09-10': 5.98,
 '2012-09-11': 121.08,
 '2012-09-12': 44.38,
 '2012-09-13': 11.88,
 '2012-09-17': 16.0,
 '2012-09-18': 36.0,
 '2012-09-19': 13.0,
 '2012-09-25': 76.69,
 '2012-09-28': 61.99,
 '2012-09-30': 36.0,
 '2012-10-01': 27.02,
 '2012-10-02': 30.0,
 '2012-10-04': 95.43,
 '2012-10-16': 75.0,
 '2012-10-17': 52.15,
 '2012-10-18': 24.22,
 '2012-10-20': 40.98,
 '2012-10-28': 43.69,
 '2012-10-29': 15.48,
 '2012-11-11': 53.71,
 '2012-11-16': 37.38,
 '2012-11-17': 93.76,
 '2012-11-29': 120.38,
 '2012-12-03': 74.7,
 '2012-12-05': 74.0,
 '2012-12-07': 57.38,
 '2012-12-09': 52.0,
 '2012-12-11': 84.0,
 '2012-12-14': 81.38,
 '2012-12-15': 25.0,
 '2012-12-16': 191.07,
 '2012-12-27': 143.36,
 '2012-12-28': 14.19,
 '2012-12-29': 20.95,
 '2012-12-30': 8.0,
 '2012-12-31': 87.0,
 '2013-01-03': 103.07,
 '2013-01-04': 109.0,
 '2013-01-05': 39.26,
 '2013-01-09': 23.91,
 '2013-01-14': 88.22,
 '2013-01-15': 7.0,
 '2013-01-16': 38.69,
 '2013-01-19': 21.0,
 '2013-01-20': 70.0,
 '2013-01-29': 30.38,
 '2013-02-04': 95.84,
 '2013-02-07': 107.22,
 '2013-02-09': 4.0,
 '2013-02-11': 18.0,
 '2013-02-21': 82.69,
 '2013-02-22': 29.0,
 '2013-02-26': 52.6,
 '2013-02-27': 28.78,
 '2013-03-01': 13.72,
 '2013-04-04': 82.84,
 '2013-04-07': 49.69,
 '2013-04-08': 8.0,
 '2013-04-09': 19.0,
 '2013-04-11': 45.69,
 '2013-04-15': 7.85,
 '2013-04-26': 61.54,
 '2013-04-28': 5.0,
 '2013-04-29': 20.81,
 '2013-05-02': 53.88,
 '2013-05-05': 105.0,
 '2013-05-09': 25.85,
 '2013-05-12': 32.26,
 '2013-05-13': 23.0,
 '2013-05-22': 35.2,
 '2013-05-28': 114.44,
 '2013-05-29': 41.0,
 '2013-05-30': 22.19,
 '2013-05-31': 22.69,
 '2013-06-01': 48.71,
 '2013-06-03': 33.0,
 '2013-06-05': 33.05,
 '2013-06-09': 50.69,
 '2013-06-10': 69.3,
 '2013-06-11': 27.0,
 '2013-06-12': 48.0,
 '2013-06-14': 247.8,
 '2013-06-15': 20.0,
 '2013-06-17': 8.69,
 '2013-06-18': 27.33,
 '2013-06-19': 15.36,
 '2013-06-27': 76.83,
 '2013-06-30': 327.53,
 '2013-07-14': 84.67,
 '2013-07-15': 53.69,
 '2013-07-16': 36.37,
 '2013-07-17': 11.0,
 '2013-07-18': 62.05,
 '2013-07-19': 11.9,
 '2013-07-20': 24.63,
 '2013-07-22': 63.69,
 '2013-07-23': 28.87,
 '2013-07-24': 12.66,
 '2013-07-28': 30.22,
 '2013-07-29': 91.69,
 '2013-07-30': 47.0,
 '2013-07-31': 22.69,
 '2013-08-01': 3.99,
 '2013-08-03': 103.09,
 '2013-08-05': 49.71,
 '2013-08-07': 117.24,
 '2013-08-08': 15.93,
 '2013-08-11': 80.0,
 '2013-08-12': 10.0,
 '2013-08-13': 15.61,
 '2013-08-14': 79.44,
 '2013-08-15': 34.09,
 '2013-08-17': 23.0,
 '2013-08-18': 16.87,
 '2013-08-21': 86.69,
 '2013-08-23': 43.0,
 '2013-08-25': 43.69,
 '2013-08-28': 17.54,
 '2013-09-04': 20.65,
 '2013-09-08': 95.69,
 '2013-09-09': 198.88,
 '2013-09-10': 58.0,
 '2013-09-13': 21.26,
 '2013-09-17': 8.0,
 '2013-09-18': 30.91,
 '2013-09-19': 23.24,
 '2013-09-23': 52.69,
 '2013-09-25': 87.22,
 '2013-09-28': 100.0,
 '2013-09-29': 7.57,
 '2013-09-30': 50.66,
 '2013-10-01': 12.95,
 '2013-10-02': 60.88,
 '2013-10-03': 25.67,
 '2013-10-06': 20.0,
 '2013-10-12': 129.38,
 '2013-10-13': 32.0,
 '2013-10-15': 12.0,
 '2013-10-16': 75.38,
 '2013-10-19': 111.82,
 '2013-10-20': 13.0,
 '2013-10-21': 30.22,
 '2013-10-22': 34.0,
 '2013-10-23': 79.24,
 '2013-10-24': 63.39,
 '2013-10-25': 63.36,
 '2013-10-27': 38.12,
 '2013-10-29': 5.24,
 '2013-11-06': 88.84,
 '2013-11-08': 94.69,
 '2013-11-12': 49.0,
 '2013-11-13': 17.33,
 '2013-11-18': 65.0,
 '2013-12-07': 78.99,
 '2013-12-13': 135.0,
 '2013-12-23': 79.0,
 '2013-12-30': 122.38,
 '2014-01-03': 94.0,
 '2014-01-06': 67.3,
 '2014-01-07': 29.0,
 '2014-01-14': 78.89,
 '2014-01-19': 7.45,
 '2014-01-20': 36.0,
 '2014-01-21': 41.0,
 '2014-01-27': 97.0,
 '2014-01-29': 21.22,
 '2014-02-03': 81.0,
 '2014-02-05': 59.38,
 '2014-02-19': 55.62,
 '2014-02-21': 94.45,
 '2014-02-25': 95.0,
 '2014-02-27': 59.0,
 '2014-03-01': 18.0,
 '2014-03-22': 33.53,
 '2014-03-28': 53.0,
 '2014-03-30': 96.53,
 '2014-04-04': 22.3,
 '2014-04-07': 55.0,
 '2014-04-13': 52.85,
 '2014-04-16': 36.0,
 '2014-04-23': 121.25,
 '2014-04-25': 24.39,
 '2014-05-05': 53.01,
 '2014-05-07': 3.0,
 '2014-05-13': 59.0,
 '2014-05-19': 28.0,
 '2014-05-23': 140.0,
 '2014-05-25': 18.58,
 '2014-05-26': 69.0,
 '2014-06-15': 37.18,
 '2014-06-19': 54.4,
 '2014-06-22': 46.0,
 '2014-06-29': 78.2,
 '2014-07-03': 12.0,
 '2014-07-08': 9.77,
 '2014-07-10': 32.85,
 '2014-09-01': 84.76,
 '2014-09-06': 40.69,
 '2014-09-07': 73.0,
 '2014-09-10': 14.08,
 '2014-09-14': 75.0,
 '2014-09-16': 51.69,
 '2014-09-20': 44.4,
 '2014-09-23': 76.69,
 '2014-09-25': 30.0,
 '2014-09-29': 18.77,
 '2014-10-07': 33.0,
 '2014-10-08': 50.0,
 '2014-10-23': 48.0,
 '2014-10-24': 10.69,
 '2014-10-26': 61.0,
 '2014-11-01': 81.0,
 '2014-11-05': 51.81,
 '2014-11-06': 36.69,
 '2014-11-09': 10.29,
 '2014-11-12': 54.81,
 '2014-11-14': 68.0,
 '2014-11-15': 10.0,
 '2014-12-01': 44.0,
 '2014-12-08': 37.0,
 '2014-12-15': 84.0,
 '2014-12-31': 96.38,
 '2015-01-04': 40.0,
 '2015-01-05': 63.22,
 '2015-01-09': 10.0,
 '2015-01-12': 25.0,
 '2015-02-09': 26.05,
 '2015-02-20': 51.0,
 '2015-03-03': 86.94,
 '2015-03-10': 40.22,
 '2015-04-18': 144.0,
 '2015-04-19': 85.94,
 '2015-04-20': 53.01,
 '2015-04-22': 27.0,
 '2015-04-23': 119.84,
 '2015-04-24': 36.17,
 '2015-04-27': 40.0,
 '2015-04-28': 83.76,
 '2015-04-29': 65.53,
 '2015-05-04': 98.15,
 '2015-05-06': 80.08,
 '2015-05-07': 124.0,
 '2015-05-10': 20.0,
 '2015-05-11': 26.0,
 '2015-05-13': 53.0,
 '2015-05-14': 14.99,
 '2015-05-16': 37.43,
 '2015-05-17': 66.0,
 '2015-05-19': 73.0,
 '2015-05-20': 92.15,
 '2015-05-25': 75.0,
 '2015-05-28': 96.5,
 '2015-05-29': 78.5,
 '2015-05-31': 36.0,
 '2015-06-01': 87.0,
 '2015-06-03': 77.15,
 '2015-06-05': 61.0,
 '2015-06-08': 12.69,
 '2015-06-15': 82.0,
 '2015-06-16': 71.0,
 '2015-06-19': 235.0,
 '2015-06-20': 97.51,
 '2015-06-23': 28.25,
 '2015-06-24': 48.56,
 '2015-06-25': 11.49,
 '2015-06-29': 100.71,
 '2015-07-01': 70.0,
 '2015-07-02': 151.84,
 '2015-07-04': 56.58,
 '2015-07-06': 92.12,
 '2015-07-07': 46.99,
 '2015-07-09': 59.3,
 '2015-07-11': 84.0,
 '2015-07-13': 70.76,
 '2015-07-15': 37.0,
 '2015-07-16': 7.0,
 '2015-07-17': 71.0,
 '2015-07-19': 20.0,
 '2015-07-20': 59.57,
 '2015-07-22': 13.0,
 '2015-07-28': 81.99,
 '2015-07-30': 116.0,
 '2015-07-31': 39.37,
 '2015-08-01': 11.0,
 '2015-08-02': 25.0,
 '2015-08-04': 63.21,
 '2015-08-06': 7.5,
 '2015-08-08': 63.0,
 '2015-08-10': 72.76,
 '2015-08-12': 18.53,
 '2015-08-13': 49.45,
 '2015-08-21': 83.3,
 '2015-08-22': 57.0,
 '2015-08-24': 54.0,
 '2015-08-26': 37.0,
 '2015-08-27': 108.34,
 '2015-08-28': 66.43,
 '2015-08-29': 59.32,
 '2015-08-31': 26.0,
 '2015-09-02': 37.0,
 '2015-09-09': 64.77,
 '2015-09-11': 23.06,
 '2015-09-13': 26.45,
 '2015-09-17': 82.54,
 '2015-09-19': 80.0,
 '2015-09-20': 75.98,
 '2015-09-22': 61.05,
 '2015-09-24': 101.83,
 '2015-09-25': 13.0,
 '2015-09-26': 11.27,
 '2015-09-27': 19.0,
 '2015-09-28': 21.0,
 '2015-09-29': 46.0,
 '2015-09-30': 12.0,
 '2015-10-02': 16.0,
 '2015-10-03': 23.0,
 '2015-10-04': 8.0,
 '2015-10-05': 7.77,
 '2015-11-07': 40.79,
 '2015-11-09': 2.0,
 '2015-12-16': 58.38,
 '2015-12-17': 26.0,
 '2015-12-18': 105.75,
 '2016-02-02': 147.37,
 '2016-02-03': 54.6,
 '2016-02-04': 48.69,
 '2016-02-05': 21.69,
 '2016-02-06': 93.31,
 '2016-02-07': 30.3,
 '2016-02-08': 44.0,
 '2016-02-09': 103.26,
 '2016-02-12': 90.03,
 '2016-02-18': 95.88,
 '2016-02-20': 62.37,
 '2016-02-22': 77.09,
 '2016-02-25': 74.91,
 '2016-02-26': 74.4,
 '2016-02-29': 36.85,
 '2016-03-04': 70.65,
 '2016-03-07': 67.59,
 '2016-03-10': 48.78,
 '2016-03-11': 11.0,
 '2016-03-12': 60.66,
 '2016-03-13': 89.3,
 '2016-03-16': 31.4,
 '2016-03-17': 50.39,
 '2016-03-20': 60.81,
 '2016-03-22': 29.5,
 '2016-03-23': 20.88,
 '2016-03-25': 66.43,
 '2016-03-26': 65.88,
 '2016-03-28': 53.22,
 '2016-03-29': 85.68,
 '2016-03-31': 47.77,
 '2016-04-01': 24.0,
 '2016-04-02': 49.0,
 '2016-04-04': 131.58,
 '2016-04-06': 33.2,
 '2016-04-08': 20.69,
 '2016-04-09': 39.0,
 '2016-04-12': 59.31,
 '2016-04-21': 125.73,
 '2016-04-23': 44.27,
 '2016-04-24': 93.07,
 '2016-04-26': 72.0,
 '2016-04-27': 59.68,
 '2016-04-29': 46.53,
 '2016-05-02': 77.01,
 '2016-05-03': 20.0,
 '2016-05-04': 15.55,
 '2016-05-07': 104.66,
 '2016-05-10': 73.77,
 '2016-05-15': 97.48,
 '2016-05-16': 80.77,
 '2016-05-17': 41.0,
 '2016-05-21': 34.79,
 '2016-05-25': 51.0,
 '2016-05-27': 31.0,
 '2016-05-28': 52.0,
 '2016-05-29': 44.0,
 '2016-05-30': 66.0,
 '2016-06-02': 98.33,
 '2016-06-03': 16.0,
 '2016-06-04': 28.98,
 '2016-06-05': 60.0,
 '2016-06-06': 17.0,
 '2016-06-07': 6.0,
 '2016-06-08': 62.83,
 '2016-06-10': 32.15,
 '2016-06-12': 76.79,
 '2016-06-13': 74.19,
 '2016-06-14': 48.0,
 '2016-06-17': 115.49,
 '2016-06-23': 103.69,
 '2016-06-25': 45.95,
 '2016-06-27': 56.82,
 '2016-06-28': 32.0,
 '2016-06-29': 67.04,
 '2016-06-30': 18.93,
 '2016-07-01': 90.0,
 '2016-07-03': 97.15,
 '2016-07-04': 12.34,
 '2016-07-05': 90.71,
 '2016-07-11': 18.61,
 '2016-07-13': 71.0,
 '2016-07-15': 5.98,
 '2016-07-22': 11.93,
 '2016-07-25': 46.0,
 '2016-07-31': 64.52,
 '2016-08-03': 56.79,
 '2016-08-08': 78.78,
 '2016-08-15': 72.39,
 '2016-08-18': 92.38,
 '2016-08-23': 90.0}

Let's do the same thing, but with `defaultdict`.

In [15]:
date_owner_spend_2 = defaultdict(lambda: defaultdict(float)) 

for idx,row in enumerate(result) :
    owner, date, spend = row
    spend = round(spend,2)
    
    date_owner_spend_2[owner][date] += spend

In [13]:
pprint(date_owner_spend[18736])

{'2011-02-15': 94.42,
 '2011-02-25': 151.03,
 '2011-03-01': 21.0,
 '2011-03-03': 105.71,
 '2011-03-04': 36.9,
 '2011-03-06': 31.81,
 '2011-03-09': 24.0,
 '2011-03-10': 25.0,
 '2011-03-13': 35.0,
 '2011-03-14': 15.0,
 '2011-03-20': 89.0,
 '2011-03-23': 45.31,
 '2011-03-27': 51.41,
 '2011-04-10': 54.45,
 '2011-04-12': 56.41,
 '2011-04-13': 8.0,
 '2011-04-14': 27.0,
 '2011-04-15': 32.53,
 '2011-04-17': 69.0,
 '2011-04-22': 124.01,
 '2011-04-23': 14.38,
 '2011-04-24': 37.71,
 '2011-04-26': 48.41,
 '2011-04-28': 5.59,
 '2011-04-30': 27.0,
 '2011-05-01': 102.66,
 '2011-05-03': 37.0,
 '2011-05-04': 11.72,
 '2011-05-07': 41.0,
 '2011-05-08': 71.12,
 '2011-05-12': 94.67,
 '2011-05-16': 23.0,
 '2011-05-18': 20.43,
 '2011-05-19': 14.96,
 '2011-05-23': 27.0,
 '2011-05-26': 70.82,
 '2011-05-27': 23.0,
 '2011-05-29': 39.41,
 '2011-05-30': 70.98,
 '2011-06-09': 27.73,
 '2011-06-13': 96.29,
 '2011-06-14': 28.0,
 '2011-06-17': 1.99,
 '2011-06-18': 75.55,
 '2011-06-26': 51.39,
 '2011-06-29': 36.8,
 '2011-06-30': 5.0,
 '2011-07-03': 100.87,
 '2011-07-06': 51.53,
 '2011-07-07': 32.21,
 '2011-07-12': 94.0,
 '2011-07-13': 37.97,
 '2011-07-19': 68.0,
 '2011-07-20': 100.03,
 '2011-07-27': 59.0,
 '2011-07-30': 29.49,
 '2011-08-01': 55.13,
 '2011-08-12': 69.49,
 '2011-08-30': 79.96,
 '2011-08-31': 75.54,
 '2011-09-02': 26.17,
 '2011-09-06': 55.98,
 '2011-09-09': 85.99,
 '2011-09-10': 41.01,
 '2011-09-16': 55.49,
 '2011-09-17': 26.65,
 '2011-09-19': 36.81,
 '2011-09-21': 78.69,
 '2011-09-25': 26.0,
 '2011-09-26': 14.89,
 '2011-10-03': 91.11,
 '2011-10-06': 75.76,
 '2011-10-09': 62.0,
 '2011-10-19': 75.18,
 '2011-10-20': 97.22,
 '2011-10-23': 63.38,
 '2011-11-01': 107.0,
 '2011-11-03': 4.99,
 '2011-11-04': 31.09,
 '2011-11-05': 8.27,
 '2011-11-06': 37.0,
 '2011-11-08': 58.38,
 '2011-11-18': 106.79,
 '2011-11-29': 94.07,
 '2011-12-01': 11.0,
 '2011-12-03': 45.0,
 '2011-12-10': 94.22,
 '2011-12-12': 66.07,
 '2011-12-14': 58.0,
 '2011-12-17': 2.0,
 '2011-12-18': 77.07,
 '2011-12-20': 104.36,
 '2011-12-24': 67.69,
 '2011-12-28': 72.0,
 '2011-12-29': 9.87,
 '2011-12-31': 14.79,
 '2012-01-01': 40.43,
 '2012-01-02': 42.69,
 '2012-01-04': 50.23,
 '2012-01-11': 110.0,
 '2012-01-12': 7.0,
 '2012-01-16': 71.0,
 '2012-01-19': 157.91,
 '2012-01-25': 31.69,
 '2012-02-04': 77.0,
 '2012-02-05': 31.48,
 '2012-02-07': 32.69,
 '2012-02-09': 40.0,
 '2012-02-13': 77.54,
 '2012-02-16': 74.97,
 '2012-02-18': 126.81,
 '2012-02-23': 50.69,
 '2012-02-26': 36.69,
 '2012-03-15': 77.78,
 '2012-03-19': 34.26,
 '2012-03-23': 45.92,
 '2012-03-25': 65.76,
 '2012-03-27': 34.84,
 '2012-04-03': 63.75,
 '2012-04-13': 86.71,
 '2012-04-15': 6.0,
 '2012-04-16': 92.0,
 '2012-04-20': 30.0,
 '2012-04-21': 57.66,
 '2012-04-23': 63.69,
 '2012-04-26': 65.69,
 '2012-04-28': 19.71,
 '2012-05-02': 61.71,
 '2012-05-05': 62.76,
 '2012-05-06': 7.38,
 '2012-05-07': 58.5,
 '2012-05-09': 28.69,
 '2012-05-10': 12.07,
 '2012-05-13': 46.15,
 '2012-05-17': 79.11,
 '2012-05-18': 21.0,
 '2012-05-19': 54.4,
 '2012-05-20': 15.33,
 '2012-05-21': 50.91,
 '2012-05-22': 73.8,
 '2012-05-23': 43.0,
 '2012-05-24': 52.38,
 '2012-05-26': 35.0,
 '2012-05-30': 34.79,
 '2012-05-31': 77.38,
 '2012-06-02': 42.15,
 '2012-06-03': 67.4,
 '2012-06-05': 13.89,
 '2012-06-11': 39.0,
 '2012-06-17': 45.38,
 '2012-06-19': 33.49,
 '2012-06-28': 72.06,
 '2012-07-28': 95.14,
 '2012-08-04': 12.75,
 '2012-08-07': 84.69,
 '2012-08-10': 63.86,
 '2012-08-11': 16.61,
 '2012-08-13': 13.11,
 '2012-08-30': 87.38,
 '2012-09-03': 51.64,
 '2012-09-10': 5.98,
 '2012-09-11': 121.08,
 '2012-09-12': 44.38,
 '2012-09-13': 11.88,
 '2012-09-17': 16.0,
 '2012-09-18': 36.0,
 '2012-09-19': 13.0,
 '2012-09-25': 76.69,
 '2012-09-28': 61.99,
 '2012-09-30': 36.0,
 '2012-10-01': 27.02,
 '2012-10-02': 30.0,
 '2012-10-04': 95.43,
 '2012-10-16': 75.0,
 '2012-10-17': 52.15,
 '2012-10-18': 24.22,
 '2012-10-20': 40.98,
 '2012-10-28': 43.69,
 '2012-10-29': 15.48,
 '2012-11-11': 53.71,
 '2012-11-16': 37.38,
 '2012-11-17': 93.76,
 '2012-11-29': 120.38,
 '2012-12-03': 74.7,
 '2012-12-05': 74.0,
 '2012-12-07': 57.38,
 '2012-12-09': 52.0,
 '2012-12-11': 84.0,
 '2012-12-14': 81.38,
 '2012-12-15': 25.0,
 '2012-12-16': 191.07,
 '2012-12-27': 143.36,
 '2012-12-28': 14.19,
 '2012-12-29': 20.95,
 '2012-12-30': 8.0,
 '2012-12-31': 87.0,
 '2013-01-03': 103.07,
 '2013-01-04': 109.0,
 '2013-01-05': 39.26,
 '2013-01-09': 23.91,
 '2013-01-14': 88.22,
 '2013-01-15': 7.0,
 '2013-01-16': 38.69,
 '2013-01-19': 21.0,
 '2013-01-20': 70.0,
 '2013-01-29': 30.38,
 '2013-02-04': 95.84,
 '2013-02-07': 107.22,
 '2013-02-09': 4.0,
 '2013-02-11': 18.0,
 '2013-02-21': 82.69,
 '2013-02-22': 29.0,
 '2013-02-26': 52.6,
 '2013-02-27': 28.78,
 '2013-03-01': 13.72,
 '2013-04-04': 82.84,
 '2013-04-07': 49.69,
 '2013-04-08': 8.0,
 '2013-04-09': 19.0,
 '2013-04-11': 45.69,
 '2013-04-15': 7.85,
 '2013-04-26': 61.54,
 '2013-04-28': 5.0,
 '2013-04-29': 20.81,
 '2013-05-02': 53.88,
 '2013-05-05': 105.0,
 '2013-05-09': 25.85,
 '2013-05-12': 32.26,
 '2013-05-13': 23.0,
 '2013-05-22': 35.2,
 '2013-05-28': 114.44,
 '2013-05-29': 41.0,
 '2013-05-30': 22.19,
 '2013-05-31': 22.69,
 '2013-06-01': 48.71,
 '2013-06-03': 33.0,
 '2013-06-05': 33.05,
 '2013-06-09': 50.69,
 '2013-06-10': 69.3,
 '2013-06-11': 27.0,
 '2013-06-12': 48.0,
 '2013-06-14': 247.8,
 '2013-06-15': 20.0,
 '2013-06-17': 8.69,
 '2013-06-18': 27.33,
 '2013-06-19': 15.36,
 '2013-06-27': 76.83,
 '2013-06-30': 327.53,
 '2013-07-14': 84.67,
 '2013-07-15': 53.69,
 '2013-07-16': 36.37,
 '2013-07-17': 11.0,
 '2013-07-18': 62.05,
 '2013-07-19': 11.9,
 '2013-07-20': 24.63,
 '2013-07-22': 63.69,
 '2013-07-23': 28.87,
 '2013-07-24': 12.66,
 '2013-07-28': 30.22,
 '2013-07-29': 91.69,
 '2013-07-30': 47.0,
 '2013-07-31': 22.69,
 '2013-08-01': 3.99,
 '2013-08-03': 103.09,
 '2013-08-05': 49.71,
 '2013-08-07': 117.24,
 '2013-08-08': 15.93,
 '2013-08-11': 80.0,
 '2013-08-12': 10.0,
 '2013-08-13': 15.61,
 '2013-08-14': 79.44,
 '2013-08-15': 34.09,
 '2013-08-17': 23.0,
 '2013-08-18': 16.87,
 '2013-08-21': 86.69,
 '2013-08-23': 43.0,
 '2013-08-25': 43.69,
 '2013-08-28': 17.54,
 '2013-09-04': 20.65,
 '2013-09-08': 95.69,
 '2013-09-09': 198.88,
 '2013-09-10': 58.0,
 '2013-09-13': 21.26,
 '2013-09-17': 8.0,
 '2013-09-18': 30.91,
 '2013-09-19': 23.24,
 '2013-09-23': 52.69,
 '2013-09-25': 87.22,
 '2013-09-28': 100.0,
 '2013-09-29': 7.57,
 '2013-09-30': 50.66,
 '2013-10-01': 12.95,
 '2013-10-02': 60.88,
 '2013-10-03': 25.67,
 '2013-10-06': 20.0,
 '2013-10-12': 129.38,
 '2013-10-13': 32.0,
 '2013-10-15': 12.0,
 '2013-10-16': 75.38,
 '2013-10-19': 111.82,
 '2013-10-20': 13.0,
 '2013-10-21': 30.22,
 '2013-10-22': 34.0,
 '2013-10-23': 79.24,
 '2013-10-24': 63.39,
 '2013-10-25': 63.36,
 '2013-10-27': 38.12,
 '2013-10-29': 5.24,
 '2013-11-06': 88.84,
 '2013-11-08': 94.69,
 '2013-11-12': 49.0,
 '2013-11-13': 17.33,
 '2013-11-18': 65.0,
 '2013-12-07': 78.99,
 '2013-12-13': 135.0,
 '2013-12-23': 79.0,
 '2013-12-30': 122.38,
 '2014-01-03': 94.0,
 '2014-01-06': 67.3,
 '2014-01-07': 29.0,
 '2014-01-14': 78.89,
 '2014-01-19': 7.45,
 '2014-01-20': 36.0,
 '2014-01-21': 41.0,
 '2014-01-27': 97.0,
 '2014-01-29': 21.22,
 '2014-02-03': 81.0,
 '2014-02-05': 59.38,
 '2014-02-19': 55.62,
 '2014-02-21': 94.45,
 '2014-02-25': 95.0,
 '2014-02-27': 59.0,
 '2014-03-01': 18.0,
 '2014-03-22': 33.53,
 '2014-03-28': 53.0,
 '2014-03-30': 96.53,
 '2014-04-04': 22.3,
 '2014-04-07': 55.0,
 '2014-04-13': 52.85,
 '2014-04-16': 36.0,
 '2014-04-23': 121.25,
 '2014-04-25': 24.39,
 '2014-05-05': 53.01,
 '2014-05-07': 3.0,
 '2014-05-13': 59.0,
 '2014-05-19': 28.0,
 '2014-05-23': 140.0,
 '2014-05-25': 18.58,
 '2014-05-26': 69.0,
 '2014-06-15': 37.18,
 '2014-06-19': 54.4,
 '2014-06-22': 46.0,
 '2014-06-29': 78.2,
 '2014-07-03': 12.0,
 '2014-07-08': 9.77,
 '2014-07-10': 32.85,
 '2014-09-01': 84.76,
 '2014-09-06': 40.69,
 '2014-09-07': 73.0,
 '2014-09-10': 14.08,
 '2014-09-14': 75.0,
 '2014-09-16': 51.69,
 '2014-09-20': 44.4,
 '2014-09-23': 76.69,
 '2014-09-25': 30.0,
 '2014-09-29': 18.77,
 '2014-10-07': 33.0,
 '2014-10-08': 50.0,
 '2014-10-23': 48.0,
 '2014-10-24': 10.69,
 '2014-10-26': 61.0,
 '2014-11-01': 81.0,
 '2014-11-05': 51.81,
 '2014-11-06': 36.69,
 '2014-11-09': 10.29,
 '2014-11-12': 54.81,
 '2014-11-14': 68.0,
 '2014-11-15': 10.0,
 '2014-12-01': 44.0,
 '2014-12-08': 37.0,
 '2014-12-15': 84.0,
 '2014-12-31': 96.38,
 '2015-01-04': 40.0,
 '2015-01-05': 63.22,
 '2015-01-09': 10.0,
 '2015-01-12': 25.0,
 '2015-02-09': 26.05,
 '2015-02-20': 51.0,
 '2015-03-03': 86.94,
 '2015-03-10': 40.22,
 '2015-04-18': 144.0,
 '2015-04-19': 85.94,
 '2015-04-20': 53.01,
 '2015-04-22': 27.0,
 '2015-04-23': 119.84,
 '2015-04-24': 36.17,
 '2015-04-27': 40.0,
 '2015-04-28': 83.76,
 '2015-04-29': 65.53,
 '2015-05-04': 98.15,
 '2015-05-06': 80.08,
 '2015-05-07': 124.0,
 '2015-05-10': 20.0,
 '2015-05-11': 26.0,
 '2015-05-13': 53.0,
 '2015-05-14': 14.99,
 '2015-05-16': 37.43,
 '2015-05-17': 66.0,
 '2015-05-19': 73.0,
 '2015-05-20': 92.15,
 '2015-05-25': 75.0,
 '2015-05-28': 96.5,
 '2015-05-29': 78.5,
 '2015-05-31': 36.0,
 '2015-06-01': 87.0,
 '2015-06-03': 77.15,
 '2015-06-05': 61.0,
 '2015-06-08': 12.69,
 '2015-06-15': 82.0,
 '2015-06-16': 71.0,
 '2015-06-19': 235.0,
 '2015-06-20': 97.51,
 '2015-06-23': 28.25,
 '2015-06-24': 48.56,
 '2015-06-25': 11.49,
 '2015-06-29': 100.71,
 '2015-07-01': 70.0,
 '2015-07-02': 151.84,
 '2015-07-04': 56.58,
 '2015-07-06': 92.12,
 '2015-07-07': 46.99,
 '2015-07-09': 59.3,
 '2015-07-11': 84.0,
 '2015-07-13': 70.76,
 '2015-07-15': 37.0,
 '2015-07-16': 7.0,
 '2015-07-17': 71.0,
 '2015-07-19': 20.0,
 '2015-07-20': 59.57,
 '2015-07-22': 13.0,
 '2015-07-28': 81.99,
 '2015-07-30': 116.0,
 '2015-07-31': 39.37,
 '2015-08-01': 11.0,
 '2015-08-02': 25.0,
 '2015-08-04': 63.21,
 '2015-08-06': 7.5,
 '2015-08-08': 63.0,
 '2015-08-10': 72.76,
 '2015-08-12': 18.53,
 '2015-08-13': 49.45,
 '2015-08-21': 83.3,
 '2015-08-22': 57.0,
 '2015-08-24': 54.0,
 '2015-08-26': 37.0,
 '2015-08-27': 108.34,
 '2015-08-28': 66.43,
 '2015-08-29': 59.32,
 '2015-08-31': 26.0,
 '2015-09-02': 37.0,
 '2015-09-09': 64.77,
 '2015-09-11': 23.06,
 '2015-09-13': 26.45,
 '2015-09-17': 82.54,
 '2015-09-19': 80.0,
 '2015-09-20': 75.98,
 '2015-09-22': 61.05,
 '2015-09-24': 101.83,
 '2015-09-25': 13.0,
 '2015-09-26': 11.27,
 '2015-09-27': 19.0,
 '2015-09-28': 21.0,
 '2015-09-29': 46.0,
 '2015-09-30': 12.0,
 '2015-10-02': 16.0,
 '2015-10-03': 23.0,
 '2015-10-04': 8.0,
 '2015-10-05': 7.77,
 '2015-11-07': 40.79,
 '2015-11-09': 2.0,
 '2015-12-16': 58.38,
 '2015-12-17': 26.0,
 '2015-12-18': 105.75,
 '2016-02-02': 147.37,
 '2016-02-03': 54.6,
 '2016-02-04': 48.69,
 '2016-02-05': 21.69,
 '2016-02-06': 93.31,
 '2016-02-07': 30.3,
 '2016-02-08': 44.0,
 '2016-02-09': 103.26,
 '2016-02-12': 90.03,
 '2016-02-18': 95.88,
 '2016-02-20': 62.37,
 '2016-02-22': 77.09,
 '2016-02-25': 74.91,
 '2016-02-26': 74.4,
 '2016-02-29': 36.85,
 '2016-03-04': 70.65,
 '2016-03-07': 67.59,
 '2016-03-10': 48.78,
 '2016-03-11': 11.0,
 '2016-03-12': 60.66,
 '2016-03-13': 89.3,
 '2016-03-16': 31.4,
 '2016-03-17': 50.39,
 '2016-03-20': 60.81,
 '2016-03-22': 29.5,
 '2016-03-23': 20.88,
 '2016-03-25': 66.43,
 '2016-03-26': 65.88,
 '2016-03-28': 53.22,
 '2016-03-29': 85.68,
 '2016-03-31': 47.77,
 '2016-04-01': 24.0,
 '2016-04-02': 49.0,
 '2016-04-04': 131.58,
 '2016-04-06': 33.2,
 '2016-04-08': 20.69,
 '2016-04-09': 39.0,
 '2016-04-12': 59.31,
 '2016-04-21': 125.73,
 '2016-04-23': 44.27,
 '2016-04-24': 93.07,
 '2016-04-26': 72.0,
 '2016-04-27': 59.68,
 '2016-04-29': 46.53,
 '2016-05-02': 77.01,
 '2016-05-03': 20.0,
 '2016-05-04': 15.55,
 '2016-05-07': 104.66,
 '2016-05-10': 73.77,
 '2016-05-15': 97.48,
 '2016-05-16': 80.77,
 '2016-05-17': 41.0,
 '2016-05-21': 34.79,
 '2016-05-25': 51.0,
 '2016-05-27': 31.0,
 '2016-05-28': 52.0,
 '2016-05-29': 44.0,
 '2016-05-30': 66.0,
 '2016-06-02': 98.33,
 '2016-06-03': 16.0,
 '2016-06-04': 28.98,
 '2016-06-05': 60.0,
 '2016-06-06': 17.0,
 '2016-06-07': 6.0,
 '2016-06-08': 62.83,
 '2016-06-10': 32.15,
 '2016-06-12': 76.79,
 '2016-06-13': 74.19,
 '2016-06-14': 48.0,
 '2016-06-17': 115.49,
 '2016-06-23': 103.69,
 '2016-06-25': 45.95,
 '2016-06-27': 56.82,
 '2016-06-28': 32.0,
 '2016-06-29': 67.04,
 '2016-06-30': 18.93,
 '2016-07-01': 90.0,
 '2016-07-03': 97.15,
 '2016-07-04': 12.34,
 '2016-07-05': 90.71,
 '2016-07-11': 18.61,
 '2016-07-13': 71.0,
 '2016-07-15': 5.98,
 '2016-07-22': 11.93,
 '2016-07-25': 46.0,
 '2016-07-31': 64.52,
 '2016-08-03': 56.79,
 '2016-08-08': 78.78,
 '2016-08-15': 72.39,
 '2016-08-18': 92.38,
 '2016-08-23': 90.0}

Now let's do a bigger query, like the one from last class. Let's get sales, transactions and items by department, year and month.

In [16]:
result = cur.execute('''SELECT department,
                               substr(date(datetime),1,4) AS year,
                               substr(date(datetime),6,2) AS month,
                               sum(total) AS spend,
                               count(distinct(date(datetime) || register_no ||
                                       emp_no || trans_no)) as Transactions,
                               sum(CASE WHEN (trans_status = 'V' or trans_status = 'R') THEN -1 ELSE 1 END) as Items
                               FROM transactions
                               WHERE department != 0 and
                                    department != 15 and
                                    trans_status != 'M' and
                                    trans_status != 'C' and
                                    trans_status != 'J' and
                                   (trans_status = '' or 
                                    trans_status = ' ' or 
                                    trans_status = 'V' or 
                                    trans_status = 'R')
                          GROUP BY department, year, month
                          ORDER BY year, month''')

In [17]:
dept_ym = defaultdict(lambda: # dept_no
                      defaultdict(lambda: # year 
                                  defaultdict(lambda: # month
                                              defaultdict(float)))) # #field name and value
                      
for row in result :
    dept, year, month, spend, trans, items = row
    spend = round(spend,2)

    dept_ym[dept][year][month]['spend'] += spend
    dept_ym[dept][year][month]['trans'] += trans
    dept_ym[dept][year][month]['items'] += items

In [23]:
"-".join([str(item) for item in [dept,year,month]])

'18-2016-09'

Play around with this dictionary a bit to make sure you understand the structure.

Sometimes having the data in memory is all you need. Other times you're going to want to write it out to a file to work with further. Let's write out this dictionary.

In [ ]:
header = ["dept_no","year","month","spend","transactions","items"]

with open("dept_year_month.txt",'w') as ofile :
    ofile.write("\t".join(header) + "\n")
    
    for dept in dept_ym :
        for year in dept_ym[dept] :
            for month in dept_ym[dept][year] :
                row = [dept,year,month,
                      dept_ym[dept][year][month]['spend'],
                      dept_ym[dept][year][month]['trans'],
                      dept_ym[dept][year][month]['items']]
                
                ofile.write("\t".join([str(item) for item in row]) + "\n")

---

Now it's your turn. Write a query that builds the first task in Wedge Part 2: sales (and transactions and items) by date by hour. We haven't talked too much about how you get "hour" out of one of these transaction tables, so that's going to require some trial and error. One option for building queries: redo this notebook where the db is _not_ `:memory:` but where you actually give it a name. Then it will be on your computer, you can open your SQLite Browser and play around there.

In [ ]:
result = cur.execute('''
                        
                        -- Your query here

                    ''')

Now store it in a `defaultdict` and write it out in the subsequent cell.

In [ ]:
# Store query results in a default dict

In [ ]:
# write out your default dict

Run the cell below as a best practice, but the DB will close if you quit the notebook. If it's an in-memory DB then it's also gone!

In [ ]:
db.close()